<div class="container mt-4">
  <div class="row">
    <div [class]="isSideFormVisible==true?'col-7 table-container':'col-12 table-container'">
      <div class="card">
        <div class="card-header bg-success">
          <div class="row">
            <div class="col-6">
              <h2>User List</h2>
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-warning" (click)="toggleSideForm()">Add New User</button>
            </div>
          </div>

        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Full Name</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              @for (item of userList; track $index) {
              <tr>
                <td>{{$index + 1}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.password}}</td>
                <td>{{item.fullName}}</td>
                <td>{{item.role}}</td>
                <td>
                  <button class="btn btn-primary btn-sm me-2"> Edit</button>
                  <button class="btn btn-danger btn-sm">Delete</button>
                </td>
              </tr>
              }

            </tbody>
          </table>
        </div>
      </div>


    </div>


    @if (isSideFormVisible) {
    <div class="col-5">
      <div class="card">
        <div class="card-header bg-success">
          <div class="row">
            <div class="col-6">
              <h2>User Form</h2>
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-danger" (click)="toggleSideForm()">Close</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="userForm">

            <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" formControlName="userName" class="form-control" name="userName" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" formControlName="emailId" class=" form-control" name="emailId" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Full Name</label>
              <input type="text" formControlName="fullName" class="form-control" name="fullName" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Role</label>
              <input type="text" formControlName="role" class="form-control" name="role" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control" name="password" required>
            </div>



            <button type="submit" class="btn btn-success m-2" (click)="onSave()">Save</button>

            <button type="submit" class="btn btn-warning m-2">Update</button>

            <button type="submit" class="btn btn-danger">Cancel</button>
          </form>
        </div>
      </div>

    </div>
    }

  </div>
</div>