<!-- <h2>Welcome</h2> -->
<!-- <p>this is a paragraph</p> -->

<!-- <table style="width: 100%;">
  <tr>
    <td>
      <app-variables></app-variables>
    </td>
    <td>
      <app-data-binding></app-data-binding>
    </td>
  </tr>
</table> -->

<!-- directives -->
<!-- <div class="container">
  <app-directive></app-directive>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="variable">Variable</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="data-binding">Data Binding</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="directive">Directives</a>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>